<h1>Add new message!</h1>
<form method="POST" action="/new">
    <label for="message">Message:</label>
    <textarea 
        type="text" 
        name="messageText" 
        rows="7" 
        cols="50" 
        placeholder="Enter your message">
    </textarea>    
    <label for="user">Username:</label>
    <input type="text" name="userText" placeholder="username"/>
    <button type="submit">Submit</button>
</form>

